<div class="col-xs-12 col-md-12 prjct-soft-corners">
    <table class="table tablesort table-hover">
      <tr>
        <!-- Clicks call the releavant component functions that will pair with the sort pipe -->
        <th *ngFor="let i of upperTableHeaders; let ind = index" class="pointer text-center">
          {{i}}
        </th>
      </tr>
      <tr class="inventory-data">
        <td class="text-center">
            <input #newItemNameInput type="text" class="form-control prjct-soft-corners"
              name="newItemName" placeholder="New Item Name" required>
          </td>
          <td class="text-center">
            <input #newItemPriceInput type="number" class="form-control prjct-soft-corners" pattern="[0-9]"
              name="newItemPrice" placeholder="New Item Price" required>
          </td>
        <!-- <td class="text-center">
          <button class="prjct-btn prjct-soft-corners btn btn-block" disabled
            (click)="clearAddRoseBoxForm(addRoseBoxForm)">Option</button>
        </td> -->
        <td class="text-center">
          <button class="prjct-btn prjct-soft-corners btn btn-block"
            (click)="this.addItem(newItemNameInput.value, newItemPriceInput.value)">Add Item</button>
        </td>
      </tr>
    </table>
  </div>
  
  <div class="col-xs-12 col-md-12 prjct-soft-corners">
    <table id="products" class="table tablesort table-hover">
      <tr>
        <th *ngFor="let i of lowerTableHeaders; let ind = index" class="pointer text-center">
          {{i}}
        </th>
      </tr>
      <tr *ngFor="let i of this.products; let ind = index">
        <!-- <td class="text-center">
          {{i.name}}
        </td>
        <td class="text-center">
          {{i.price}}
        </td> -->
        <td class="text-center">
            <input #itemNameInput type="text" class="form-control prjct-soft-corners"
              name="itemName" placeholder="{{i.name}}" required>
          </td>
          <td class="text-center">
            <input #itemPriceInput type="number" class="form-control prjct-soft-corners" pattern="[0-9]"
              name="itemPrice" placeholder="{{i.price}}" required>
          </td>
          <td class="text-center">
            <button class="prjct-btn prjct-soft-corners btn btn-block"
              (click)="editItem(itemNameInput.value, itemPriceInput.value, ind)">Edit</button>
          </td>
          <td class="text-center">
            <button class="prjct-btn prjct-soft-corners btn btn-block"
              (click)="removeItem(ind)">Delete</button>
          </td>
      </tr>
    </table>
  </div>